<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/static/css/index_work.css}">
    <title>条件查询</title>
</head>
<body>
<div>
    <form method="get" th:action="@{/employee/ss}">
        员工姓名: <input type="text" name="empName">
        <input type="submit" value="搜索">
    </form>
</div>
<table>
    <tr>
        <th colspan="6">employee_query</th>
    </tr>
    <tr>
        <th>序号</th>
        <th>员工姓名</th>
        <th>年龄</th>
        <th>性别</th>
        <th>邮箱</th>
        <th>操作</th>
    </tr>
    <tr th:each="employee,stauts :${pageInfo.list}">
        <td th:text="${stauts.count}"></td>
        <td th:text="${employee.empName}"></td>
        <td th:text="${employee.age}"></td>
        <td th:text="${employee.gender}"></td>
        <td th:text="${employee.email}"></td>
        <td>
            <a th:href="@{/2}">修改</a>|
            <a th:href="@{/22}">删除</a>
        </td>
    </tr>
</table>

</div>
<div style="align-content: center;text-align: center">
    <a th:if="${pageInfo.hasPreviousPage}" th:href="@{/employee/page/1}">首页</a>
    <a th:if="${pageInfo.hasPreviousPage}" th:href="@{'/employee/page/'+${pageInfo.prePage}}">上一页</a>
    <span th:each="navigatepage: ${pageInfo.navigatepageNums}">
    <a th:if="${pageInfo.pageNum != navigatepage}" th:href="@{'/employee/page/'+${navigatepage}}"
       th:text="${navigatepage}"></a>
    <a th:if="${pageInfo.pageNum == navigatepage}" th:href="@{'/employee/page/'+${navigatepage}}" style="color: #FF4400"
       th:text="'['+${navigatepage} +']'"></a>
    </span>
    <a th:if="${pageInfo.hasNextPage}" th:href="@{'/employee/page/'+${pageInfo.nextPage}}">下一页</a>
    <a th:if="${pageInfo.hasNextPage}" th:href="@{'/employee/page/'+${pageInfo.pages}}">尾页</a>
</div>
</body>
</html>