<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--
        mybatis核心配置标签顺序：
            "(properties?,settings?,typeAliases?,typeHandlers?,objectFactory?,
            objectWrapperFactory?,reflectorFactory?,plugins?,environments?,databaseIdProvider?,mappers?)"
    -->

    <!--引入properties文件-->

    <!--设置类型别名-->
    <!--<typeAliases>-->
    <!--    &lt;!&ndash;设置需要别名所在包&ndash;&gt;-->
    <!--    <package name=""/>-->
    <!--</typeAliases>-->

    <!--<plugins>-->
    <!--    <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>-->
    <!--</plugins>-->


</configuration>